<p class="desc-footer">Our differentiated merchandising strategy allows us to identify trends in the marketplace and then value-engineer products to provide desirable aesthetics at attractive price points for our customers.</p>
<div class="address">
<h1>CONTACT US</h1>
<h3>Our Location</h3>
<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-sm-3"><strong>Zaki Home Decor</strong><br /><address>Address 1:- HIG 32 ,AZAD NAGAR ,SAMBHAL ROAD MORADABAD,244001<br />(UP) INDIA..................................<br /><br /><br />Address 2:-<br /><br />BRANCH OFFICE: SHOP NO 40, SHOPPING CENTRE , 1ST FLOOR, 84 HILL ROAD , BANDRA WEST, MUMBAI 400050</address></div>
</div>
</div>
</div>
</div>
